* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

:root {
    --black: #000000;
    --gray: #5C5C5C;
    --light-gray: #7C7C7C;
    --white:  #FFFFFF;
    --theme-color: #32A517;
    --theme-color-hover: #177800; 
    --header-link-inner: #3A3A3A;
    --menu-background: rgba(44, 44, 44, 0.95); 
    --dark-green: #295047;
    --tab-link: #7BD067;
    --background-gray: #D9D9D9;
    --tab-gray: #545454;
    --tab-gray-hover: #EEEEEE;
    --tab-border: #B1B1B1;
    --footer-link: #212121;
    --footer-border: #DFDFDF;
    --breadcrumbs-link: #858585;
}

a {
    color: var(--white);
    text-decoration: none;
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
}

a:hover,
a.active {
    text-decoration: underline;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

ul li {
    margin-left: 0;
}

.container-inner {
    width: 89vw;
    margin: 0 auto;
}

h1 {
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: var(--gray);
}

body.hidden {
    overflow: hidden;
}

.btn-reset {
    outline: none;
    border: none;
    background: white;
}

.booking-modal {
    display: none;
}

.fixed-buttons__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: fixed;
    right: 30px;
    bottom: 32vh;
    z-index: 1000;
}

.fixed-buttons {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 0px 4px 12.1px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
}

.fixed-buttons:hover {
    box-shadow: 0px 4px 12.1px 0px rgba(50, 165, 23, 0.59);
}

.fixed-phones {
    display: none;
}

.fixed-phones.show {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.fixed-phones a {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: var(--black);
}

#scroll-to-top {
    display: none;
}

#messages-square svg {
    color: var(--theme-color);
}

.modal-body {
    position: unset;
    padding: 5px;
}

.modal-body::-webkit-scrollbar {
    width: 5px;
}

.modal-body::-webkit-scrollbar-track {
    background: #EEEEEE;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: var(--theme-color);
}

.modal-header {
    margin-bottom: 30px;
    padding: 0;
    border-bottom: unset;
}

.modal-header .modal-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    color: var(--black);
}

.modal-content {
    padding: 40px;
    border-radius: 30px;
}

.modal-close {
    position: absolute;
    top: 22px;
    right: 22px;
}


/* Основные */

.btn-green {
    padding: 20px 30px;
    border-radius: 99px;
    background: var(--theme-color);
    color: var(--white);
    font-size: calc((100vw - 375px) /(1920 - 375)*(17 - 13) + 13px);
    font-weight: 600;
    line-height : calc((100vw - 375px) /(1920 - 375)*(21 - 16) + 16px);
    white-space: nowrap;
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
}

.btn-green:hover, 
.btn-green:focus,
.btn-green:active {
    background: var(--theme-color-hover);
    color: var(--white);
    text-decoration: none;
}

.btn-dark-green {
    background: var(--dark-green);
}

.btn-dark-green:hover, 
.btn-dark-green:focus,
.btn-dark-green:active {
    background: var(--theme-color);
}

.btn-more {
    width: 100%;
}

.btn-more-second {
    background: var(--white);
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
}

.btn-more-second:hover, 
.btn-more-second:focus,
.btn-more-second:active {
    background: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}

section {
    margin-bottom: 140px;
}

.main-inner section {
    margin-bottom: 100px;
}

.section-inner {
    padding-top: 100px;
    border-top: 1px solid #BFBFBF;
}

.section__title {
    margin-bottom: 50px;
    font-size: calc((100vw - 375px) /(1920 - 375)*(40 - 26) + 26px);
    font-weight: 700;
    line-height: calc((100vw - 375px) /(1920 - 375)*(49 - 32) + 32px);
    color: var(--black); 
}

.section__title a {
    color: var(--black); 
}

.section__title-white a {
    color: var(--white);
}

.section__title a:hover {
    color: var(--theme-color); 
    text-decoration: none;
}

.section__title-white a:hover {
    color: var(--white);
    text-decoration: underline;
}

.section__subtitle {
    margin-top: -20px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
}

.shield-spec {
    padding: 10px 16px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    border-radius: 20px 0px 20px 0px;
    background: rgb(50, 165, 23);
    text-transform: uppercase;
}

.white-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 327px;
    height: 511px;
    background: linear-gradient(90.00deg, rgba(255, 255, 255, 0),rgb(255, 255, 255) 89.764%);
    z-index: 2;
}

.swiper-button-next:after, .swiper-button-prev:after {
    content: "";
}

.swiper-button-next, .swiper-button-prev {
    top: 44%;
    width: 83px;
    height: 83px;
    border-radius: 50%;
    background-color: var(--white);
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
}

.main-inner__slider .swiper-button-next, .main-inner__slider .swiper-button-prev {
    top: 51%;
}

.swiper-button-next {
    right: 32px;
}

.main-inner__slider .swiper-button-next {
    right: 5.5vw;
}

.main-inner__slider .swiper-button-prev {
    display: block;
    left: 5.5vw;
}

.swiper-button-prev {
    transform: rotate(180deg);
    left: 40px;
}

.swiper-button-next svg, .swiper-button-prev svg {
    position: absolute;
    width: 47px;
    height: 47px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}

.swiper-button-next:hover, .swiper-button-prev:hover  {
    background-color: var(--theme-color);
    --black: white;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    display: none;
}

.main-inner .swiper-pagination {
    position: static;
}

.nav-pills {
    margin-bottom: 0px!important;
    gap: 12px;
}

.nav-pills .nav-link {
    color: var(--black);
    padding: 17px 30px;
    font-size: 17px;
    font-weight: 600;
    line-height: 21px;
    border: 1px solid var(--light-gray);
    border-radius: 99px;
}

.rooms__navigation .nav-pills .nav-link {
    color: var(--white);
    background: rgba(255, 255, 255, 0.19);
    border: 1px solid transparent;
}

.nav-pills .nav-link.active {
    background-color: var(--theme-color);
    border: 1px solid var(--theme-color);
    pointer-events: none;
}

.nav-pills .nav-link:hover {
    border-color: var(--white);
    background-color: var(--white);
}

.rooms__navigation .nav-pills .nav-link:hover {
    background: rgba(255, 255, 255, 0.42);
    border: 1px solid transparent;
}

.breadcrumbs {
    margin-bottom: 70px;
}

.breadcrumbs ul {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
}

.breadcrumbs ul li {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    color: var(--black);
}

.breadcrumbs ul li svg {
    margin-left: 10px;
}

.breadcrumbs a {
    color: var(--breadcrumbs-link);
}

.input-group, .custom-checkboxes {
    display: flex;
    flex-direction: column!important;
    gap: 20px!important;
}

.custom-checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #CFCFCF;
    border-radius: 5px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox input:checked+label::before {
    border-color: var(--theme-color);
    background-color: var(--theme-color);
    background-image: url("../images/svg/custom-checkbox.svg");
}

.custom-checkbox label:hover {
    cursor: pointer;
}

.custom-checkbox input:not(:disabled):not(:checked)+label:hover::before {
    border-color: var(--theme-color);
}

/* Главная */

header {
    z-index: 12;
    position: -webkit-sticky;
    position: sticky;
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
    left: 0;
    height: 0;
    margin: 0 auto;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: var(--white);
}

header.header-inner {
    margin-bottom: 30px;
    position: static;
    height: 100%;
}

.header {
    padding-top: 30px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    gap: 7vw;
}

.header a {
    color: var(--white);
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 4.1vw;
}

.header__logo svg {
    color: var(--white);
}

.header__nav-item {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    line-height: 21px;
}

a.header__nav-item.active {
    color: var(--theme-color);
    text-decoration: none;
}

a.header__nav-item.active svg {
    color: var(--theme-color);
}

.header-inner .header__nav-item {
    color: var(--header-link-inner);
}

.header-inner .header__nav-item:hover, .header-inner .header__nav-item:hover svg {
    color: var(--theme-color);
    text-decoration: none;
}

.header__nav-item svg {
    min-width: 24px;
}

.header-inner .header__nav-item svg {
    color: var(--dark-green);
}

.header__burger {
    display: none;
}

.btn-header-phone svg {
    display: none;
}

main {
    position: relative;
}

.main__bg {
    position: relative;
    margin-bottom: 140px;
    height: 100vh;
}

.main__title-wrapper {
    max-width: 820px;
    position: absolute;
    top: 31%;
}

.main__title {
    margin-bottom: 25px;
    color: var(--white);
    font-size: calc((100vw - 375px) /(1920 - 375)*(80 - 36) + 36px);
    font-weight: 700;
    line-height: calc((100vw - 375px) /(1920 - 375)*(98 - 44) + 44px);
}

.main__subtitle {
    color: var(--white);
    font-size: calc((100vw - 375px) /(1920 - 375)*(40 - 20) + 20px);
    font-weight: 500;
    line-height: calc((100vw - 375px) /(1920 - 375)*(49 - 24) + 24px);
}

.booking__form {
    width: 415px;
    position: absolute;
    bottom: 11vw;
    right: 110px;
    padding: 25px;
    background-color: #32A517;
    color: var(--white);
}

.booking__title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.booking__subtitle {
    font-size: 11px;
}

/* Sidebar */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
    mix-blend-mode: difference;
    z-index: 9999;
}

.sidebar.sidebar-inner {
    mix-blend-mode: unset;
}

.sidebar.sidebar_active > ul {
    height: 100vh;
    overflow: auto;
}

.sidebar.sidebar_active {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.sidebar.sidebar_active::-webkit-scrollbar {
    display: none;
}

.sidebar ul li {
    position: static !important;
}

.sidebar.sidebar_active {
    display: block;
}

.sidebar.sidebar_active {
    width: 350px;
    background-color: var(--black);
    mix-blend-mode: unset;
}

.sidebar.sidebar-inner:hover svg, .sidebar-inner.sidebar_active svg {
    color: var(--white);
}

.sidebar__links-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.sidebar__link {
    padding-top: 18px;
    padding-right: 26px;
    padding-left: 26px;
    padding-bottom: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    max-width: 100%;
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.sidebar__link svg {
    min-width: 24px;
}

.sidebar__link:hover,
.sidebar__link:active,
.sidebar__link:focus
 {
    background: rgb(50, 165, 23);
    text-decoration: none;
}

.sidebar-inner .sidebar__link svg {
    color: var(--dark-green);
}

.sidebar__text {
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.sidebar__submenu {
    width: 350px;
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 12;
    visibility: hidden;
    opacity: 0;
    background: rgba(44, 44, 44, 0.95);
}

/* .sidebar__submenu.submenu__weather {
    
} */

.sidebar__links-wrapper:hover > ul.sidebar__submenu, .sidebar__submenu li:hover > ul.sidebar__submenu {
    display: block;
    visibility: visible;
    opacity: 1;
}

.sidebar:hover .sidebar__text {
    display: flex;
}

.submenu__weather {
    padding: 18px;
}

#ww_f5ad4c79c848e {
    max-width: 300px;
    border-radius: 10px;
}

/* Слайдер на главной */

.horizontal-slider {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -20px;
    height: 530px;
}

.horizontal-slider.stocks-swiper::after {
    background: linear-gradient(90.00deg, rgba(228, 228, 228, 0),rgb(202, 241, 194) 89.764%);
}

.afisha-swiper.horizontal-slider::after, .attractions-swiper.horizontal-slider::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 320px;
    background: linear-gradient(90.00deg, rgba(255, 255, 255, 0),rgb(255, 255, 255) 89.764%);
    z-index: 1;
}

.horizontal-slider .swiper-slide {
    border-radius: 30px;
    overflow: hidden;
    color: var(--white);
}

.horizontal-slider .swiper-slide a {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.horizontal-slider .swiper-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0.00deg, rgba(0, 0, 0, 0.78),rgba(0, 0, 0, 0) 100%);
}

.horizontal-slider.attractions-swiper .swiper-slide::before {
    background: rgba(0, 0, 0, 0.46);
}

.horizontal-slider .swiper-slide:hover {
    box-shadow: 0px 4px 12.1px 0px rgba(26, 73, 15, 0.67);
    cursor: pointer;
}

.horizontal-slider .swiper-slide:hover::before {
    background: none;
}

.horizontal-slider__title {
    display: -webkit-box;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.horizontal-slider__subtitle  {
    display: -webkit-box;
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stocks-swiper {
    width: 95%;
    margin: 0;
    overflow: visible;
}

.swiper-hidden {
    position: relative;
    width: calc(50% + 50vw);
    overflow: hidden;
}

.swiper-hidden::after {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc(24px* 2 + 150px);
    background: linear-gradient(90.00deg, rgba(255, 255, 255, 0),rgb(255, 255, 255) 89.764%);
    z-index: 2;
}

.swiper-hidden-green::after {
background: linear-gradient(90.00deg, rgba(228, 228, 228, 0),rgb(202, 241, 194) 89.764%);
}

/* Афиша */

.afisha {
    margin-bottom: 220px;
    padding-left: 5.5vw;
}

.afisha__wrapper {
    max-width: 265px;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

/* Инфраструктура отеля */

.hotel-infrastructure {
    position: relative;
    padding-bottom: 80px;
    background-size: cover;
    border-radius: 0px 0px 200px 0px;
    overflow: hidden;
}

.hotel-infrastructure__wrapper {
    max-width: 580px;
    margin-left: auto;
    padding: 40px;
    border-radius: 30px;
    background: var(--white);
}

.hotel-infrastructure__title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
}

.hotel-infrastructure__text {
    margin-bottom: 30px;
    color: var(--gray);
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
}

.hotel-infrastructure__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hotel-infrastructure__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

/* Достопримечательности */

.attractions {
    padding-left: 5.5vw;
}

.attractions__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.attractions__specifications {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.attractions__specification {
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
}

/* Блок с номерами, виллами и коттеджами */

.rooms-container {
    position: relative;
}

.nav-pills-rooms {
    position: absolute;
    top: 40px;
    left: 40px;
    gap: 30px;
}

.nav-pills-rooms .nav-link {
    padding: 0;
    border: unset;
    border-radius: unset;
    color: var(--tab-link);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.nav-pills-rooms .nav-link.active {
    padding: 0;
    color: var(--white);
    background-color: unset;
    border: unset;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.rooms__navigation {
    max-width: 650px;
    padding: 40px;
    padding-top: 100px;
    border-radius: 30px;
    background: var(--dark-green);
}

.rooms__wrapper {
    display: flex;
    gap: 75px;
}

.rooms__left {
    margin-top: 55px;
    max-width: 640px;
}

.rooms__right {
    width: 100%;
    margin-top: -330px;
}

.rooms__title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
}

.rooms__tags {
    margin-bottom: 30px;
    display: inline-flex;
    align-items: center;
    gap: 40px;
    padding: 8px 20px;
    border-radius: 11px;
    background: rgba(130, 209, 112, 0.17);
    font-size: calc((100vw - 375px) /(1920 - 375)*(15 - 13) + 13px);
    font-weight: 600;
    line-height: calc((100vw - 375px) /(1920 - 375)*(18 - 16) + 16px);
    color: var(--black);
}

.main-inner-title__wrapper .rooms__tags {
    margin-bottom: 0;
}

.rooms__desc {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    color: var(--gray);
}

.rooms__specifications {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.rooms__specification {
    max-width: 280px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.rooms__specification svg {
    min-width: 24px;
}

.rooms__buttons {
    display: inline-flex;
    gap: 20px;
}

.rooms__images {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 7.1vw);
    border-radius: 30px;
    overflow: hidden;
}

.rooms__images .rooms__image:nth-child(1) {
    grid-column: 1 / span 6;
    grid-row: 1 / span 2;
}

.rooms__images .rooms__image:nth-child(2) {
    grid-column: 7 / span 6;
    grid-row: 1 / span 2;
}

.rooms__images .rooms__image:nth-child(3) {
    grid-column: 1 / span 4;
    grid-row: 3 / span 2;
}

.rooms__images .rooms__image:nth-child(4) {
    grid-column: 5 / span 4;
    grid-row: 3 / span 2;
}

.rooms__images .rooms__image:nth-child(5) {
    grid-column: 9 / span 4;
    grid-row: 3 / span 2;
}

.rooms__images .rooms__image:nth-child(6) {
    grid-column: 1 / span 6;
    grid-row: 5 / span 2;
}
.rooms__images .rooms__image:nth-child(7) {
    grid-column: 7 / span 6;
    grid-row: 5 / span 2;
}

.rooms__images .rooms__image:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* Блок Акции */

.stocks {
    padding: 100px 0px;
    border-radius: 200px 0px 0px 0px;
    background: rgb(202, 241, 194);
}

/* Блок Как добраться */

.how-to-get__wrapper {
    display: flex;
    gap: 115px;
    justify-content: space-between;
}

.how-to-get__left {
    width: 320px;
}

.how-to-get__right {
    width: 66vw;
    border-radius: 30px;
    overflow: hidden;
}

#accordionHowToGet .accordion-item {
    border: none;
}

#accordionHowToGet .accordion-button.collapsed {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

#accordionHowToGet .accordion-button {
    padding: 30px;
    padding-bottom: 10px;
    color: var(--black);
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
}

#accordionHowToGet .accordion-button:not(.collapsed) {
    background-color: unset;
    box-shadow: none;
}

#accordionHowToGet .accordion-button:focus {
    box-shadow: none;
}

#accordionHowToGet .accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9L12 15L18 9' stroke='%23868686' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

#accordionHowToGet .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9L12 15L18 9' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

#accordionHowToGet .accordion-button:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9L12 15L18 9' stroke='%2332A517' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.accordion-item:has(> .accordion-collapse.show) {
    border-radius: 30px;
    box-shadow: 0px 4px 20.7px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#accordionHowToGet .accordion-body {
    max-width: 220px;
    padding: 30px;
    padding-top: 0;
    color: var(--gray);
}

#accordionHowToGet .accordion-body a {
    color: var(--gray);
}

#accordionHowToGet .accordion-body ul {
    padding-left: 30px;
    list-style-type: disc;
}

#accordionHowToGet .accordion-body ul li {
    font-size: calc((100vw - 375px) /(1920 - 375)*(20 - 14) + 14px);
    font-weight: 500;
    line-height: 150%;
}

/* Блок карта курорта */

.container-map-resort {
    position: relative;
}

.map-resort .section__title {
    margin-bottom: 30px;
}

.map-resort .section__subtitle {
    margin-top: 0;
    color: rgba(74, 74, 74, 1);
}

#map-resort-tabs .nav-link {
    color: var(--tab-gray);
    border-color: var(--tab-border);
}

#map-resort-tabs .nav-link:hover {
    background: var(--tab-gray-hover);
}

#map-resort-tabs .nav-link.active {
    color: var(--white);
}

#map-resort-tabs {
    margin-bottom: 30px!important;
}

#map-resortContent {
    max-width: 400px;
    position: absolute;
    left: 60px;
    bottom: 60px;
    z-index: 1000;
}

#map-resortContent .hotel-infrastructure__wrapper {
    box-shadow: 0px 4px 12.1px 0px rgba(0, 0, 0, 0.25);
}

#map-resortContent .hotel-infrastructure__text {
    color: var(--black);
}

#map-resort {
    border-radius: 30px;
    overflow: hidden;
}

.map-resort__img {
    margin-bottom: 30px;
    border-radius: 10px;
    height: 180px;
    overflow: hidden;
}

/* Блок Новости */

.news .section__title {
    margin-bottom: 0;
}

.news__wrapper {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.news__items {
    grid-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 7.1vw);
}

.news__item {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.news__item:hover {
    cursor: pointer;
    box-shadow: 0px 4px 12.1px 0px rgba(26, 73, 15, 0.67);
}

.news__item:hover .news__img::before {
    background: linear-gradient(0.00deg, rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0) 100%);
}

.news__item:nth-child(1) {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
}

.news__item:nth-child(2) {
    grid-column: 5 / span 4;
    grid-row: 1 / span 2;
}

.news__item:nth-child(3) {
    grid-column: 9 / span 4;
    grid-row: 1 / span 2;
}

.news__item:nth-child(4) {
    grid-column: 1 / span 3;
    grid-row: 3 / span 2;
}

.news__item:nth-child(5) {
    grid-column: 4 / span 3;
    grid-row: 3 / span 2;
}

.news__item:nth-child(6) {
    grid-column: 7 / span 3;
    grid-row: 3 / span 2;
}

.news__item:nth-child(7) {
    grid-column: 10 / span 3;
    grid-row: 3 / span 2;
}

.news__items--fourth {
    display: flex;
    gap: 20px;
}

.news__items--fourth .news__item {
    width: 25%;
    height: 292px;
}

.news__img {
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
}

.news__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0.00deg, rgba(0, 0, 0, 0.78),rgba(0, 0, 0, 0) 100%);
}

.news__wrapper-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 30px;
}

.news__title {
    display: -webkit-box;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news__date {
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
}

/* Блок с отзывами */

.reviews {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.reviews::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 801px;
    height: 100%;
    border-radius: 0px 200px 0px 0px;
    background: rgb(50, 165, 23);
    z-index: -1;
}

.reviews__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.reviews__images {
    grid-gap: 4px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(11, 4.1vw);
    border-radius: 30px;
    overflow: hidden;
}

.review__image a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.review__image a:hover::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
}

.review__image:nth-child(1) {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
}
.review__image:nth-child(2) {
    grid-column: 4 / span 3;
    grid-row: 1 / span 4;
}
.review__image:nth-child(3) {
    grid-column: 7 / span 3;
    grid-row: 1 / span 3;
}
.review__image:nth-child(4) {
    grid-column: 10 / span 3;
    grid-row: 1 / span 5;
}

.review__image:nth-child(5) {
    grid-column: 1 / span 3;
    grid-row: 4 / span 5;
}
.review__image:nth-child(6) {
    grid-column: 4 / span 3;
    grid-row: 5 / span 3;
}
.review__image:nth-child(7) {
    grid-column: 7 / span 3;
    grid-row: 4 / span 3;
}
.review__image:nth-child(8) {
    grid-column: 10 / span 3;
    grid-row: 6 / span 3;
}

.review__image:nth-child(9) {
    grid-column: 1 / span 3;
    grid-row: 9 / span 3;
}
.review__image:nth-child(10) {
    grid-column: 4 / span 3;
    grid-row: 8 / span 4;
}
.review__image:nth-child(11) {
    grid-column: 7 / span 3;
    grid-row: 7 / span 5;
}
.review__image:nth-child(12) {
    grid-column: 10 / span 3;
    grid-row: 9 / span 3;
}

/* Подвал сайта */

.footer {
    padding-top: 5vw;
    padding-bottom: 5vw;
    border-top: 1px solid var(--footer-border);
}

.footer__wrapper {
    display: flex;
}

.footer a {
    color: var(--footer-link);
    font-size: calc((100vw - 375px) /(1920 - 375)*(17 - 15) + 16px);
    font-weight: 500;
    line-height: calc((100vw - 375px) /(1920 - 375)*(21 - 18) + 18px);
}

.footer a:hover {
    color: var(--theme-color)!important;
    text-decoration: none;
}

.footer__top {
    margin-bottom: 65px;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.footer__col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 526px;
}

.footer__col:nth-child(3), .footer__col:nth-child(3) a {
    color: var(--black);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.footer__col span {
    display: inline-block;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
}

.footer__bottom {
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.footer__copyright {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: var(--gray);
}

.footer__social-links {
    display: flex;
    gap: 10px;
}

.footer__social-link {
    display: block;
    position: relative;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    overflow: hidden;
}

.footer__social-link svg {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    margin: 0 auto;
}

.footer__social-link.tg-link {
    background: #3891CD;
}

.footer__social-link.tg-link:hover {
    background: #226FA3;
}

.footer__social-link.whatsapp-link {
    background: #61C956;
}

.footer__social-link.whatsapp-link:hover {
    background: #40A735;
}

.footer__social-link.ok-link {
    background: #DF8000;
}

.footer__social-link.ok-link:hover {
    background: #B06500;
}

.footer__social-link.vk-link {
    background: #4179FF;
}

.footer__social-link.vk-link:hover {
    background: #2252C6;
}

.footer__social-link.youtube-link {
    background: #DB2020;
}

.footer__social-link.youtube-link:hover {
    background: #B91414;
}


/* Детальная страница номера */

.main-inner-title__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.main-inner__main-title {
    margin-bottom: 50px;
    font-size: calc((100vw - 375px) /(1920 - 375)*(60 - 30) + 30px);
    font-weight: 700;
    line-height: calc((100vw - 375px) /(1920 - 375)*(73 - 37) + 37px);
    color: var(--black);
}

.main-inner__main-desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-inner__main-desc p {
    display: -webkit-box;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-inner__images {
    margin-bottom: 100px;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(4, 7.1vw);
    border-radius: 30px;
    overflow: hidden;
}

.main-inner__image:hover {
    opacity: 0.8;
}

.main-inner__image:nth-child(1) {
    grid-column: 1 / span 5;
    grid-row: 1 / span 4;
}

.main-inner__image:nth-child(2) {
    grid-column: 6 / span 2;
    grid-row: 1 / span 2;
}

.main-inner__image:nth-child(3) {
    grid-column: 8 / span 2;
    grid-row: 1 / span 2;
}

.main-inner__image:nth-child(4) {
    grid-column: 10 / span 2;
    grid-row: 1 / span 2;
}

.main-inner__image:nth-child(5) {
    grid-column: 6 / span 2;
    grid-row: 3 / span 2;
}

.main-inner__image:nth-child(6) {
    grid-column: 8 / span 2;
    grid-row: 3 / span 2;
}

.main-inner__image:nth-child(7) {
    position: relative;
    grid-column: 10 / span 2;
    grid-row: 3 / span 2;
}

.main-inner__image:nth-child(7) a::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.51);
}

.main-inner__image:nth-child(n+8) {
    display: none;
}

.main-inner__image-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    color: var(--white);
}

.main-inner__wrapper {
    gap: 8vw;
    justify-content: space-between;
}

.main-inner__amenities {
    margin-bottom: 35px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 350px;
    -moz-column-width: 350px;
    column-width: 350px;
}

.amenities-modal {
    margin-bottom: 0;
    columns: auto;
}

.main-inner__amenitie {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: var(--black);
}

.main-inner__amenitie:not(:last-child) {
    margin-bottom: 30px;
}

.booking-rooms__wrapper {
    padding-bottom: 30px;
    position: sticky;
    top: 30px;
}

.booking-rooms {
    margin-bottom: 30px;
    padding: 30px;
    width: 21vw;
    height: 24vw;
    background-color: var(--theme-color);
}

.rools-living a {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 10px 10px 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: var(--black);
    border-radius: 30px;
    box-shadow: 0px 4px 18.7px 0px rgba(0, 0, 0, 0.11);
}

.rools-living a:hover,
.rools-living a:active,
.rools-living a:focus {
    box-shadow: 0px 4px 12.1px 0px rgba(50, 165, 23, 0.4);
    text-decoration: none;
}

.rools-living a span {
    position: relative;
    display: inline-block;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #EAF8E7;
}

.rools-living a span svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
}

.main-inner__description p {
    display: -webkit-box;
    font-size: calc((100vw - 375px) /(1920 - 375)*(20 - 14) + 14px);
    font-weight: 500;
    line-height: 150%;
    color: var(--black);
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.additional-services__wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
}

.additional-services a:hover {
    background: #C7F4BD;
}

.additional-services a {
    padding: 30px;
    border-radius: 30px;
    background: #EAF8E7;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    color: black;
}

.additional-services a:hover {
    text-decoration: none;
}

.landmarks__wrapper {
    margin-bottom: 40px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 350px;
    -moz-column-width: 350px;
    column-width: 350px;
    gap: 30px;
}

.landmarks__block {
    break-inside: avoid;
}

.landmarks__block:not(:last-child) {
    margin-bottom: 30px;
}

.landmarks__title {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color:var(--theme-color);
}

.landmarks__list ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(234, 234, 234);
    color: var(--black);
}

.landmarks__list ul li span {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #8B8B8B;
}

.bonuses__images {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 5.7vw);
    grid-gap: 20px;
}

.bonuses__image {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.bonuses__image a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.bonuses__image a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0.00deg, rgba(0, 0, 0, 0.78),rgba(0, 0, 0, 0) 100%);
}

.bonuses__image:hover {
    box-shadow: 0px 4px 12.1px 0px rgba(26, 73, 15, 0.67);
}

.bonuses__image a:hover::before {
    background: linear-gradient(0.00deg, rgba(0, 0, 0, 0.42),rgba(0, 0, 0, 0) 100%);
    border-radius: 30px;
}

.bonuses__image img {
    border-radius: 30px;
}

.bonuses__info {
    position: absolute;
    left: 30px;
    bottom: 30px;
    right: 30px;
}

.bonuses__title {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
}

.bonuses__text {
    display: -webkit-box;
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bonuses__images .bonuses__image:nth-child(1) {
    grid-column: 1 / span 4;
    grid-row: 1 / span 4;
}

.bonuses__images .bonuses__image:nth-child(2) {
    grid-column: 5 / span 4;
    grid-row: 1 / span 4;
}

.bonuses__images .bonuses__image:nth-child(3) {
    grid-column: 9 / span 4;
    grid-row: 1 / span 4;
}

.bonuses__images .bonuses__image:nth-child(4) {
    grid-column: 1 / span 4;
    grid-row: 5 / span 4;
}

.bonuses__images .bonuses__image:nth-child(5) {
    grid-column: 5 / span 8;
    grid-row: 5 / span 4;
}

.important-info__wrapper {
    flex-wrap: wrap;
    gap: 50px;
}

.important-info__col {
    max-width: 340px;
}

.important-info__col ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.important-info__col ul li {
    font-size: 17px;
    font-weight: 500;
    line-height: 150%;
    color: var(--header-link-inner);
}

.important-info__title {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: var(--black);
}

.important-info__btn {
    margin-top: 30px;
    font-weight: 700;
    color: var(--theme-color);
    text-decoration: underline;
}

.important-info__btn:hover,
.important-info__btn:active,
.important-info__btn:focus {
    color: var(--dark-green);
}

.important-info__more {
    max-height: 80px;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.important-info__more.show {
    max-height: 100%;
    overflow: visible;
    transition: max-height 1s ease-in-out;
}

/* Страница достопримечательностей */

.attractions-page {
    margin-top: 100px;
}

.attractions-page__wrapper {
    display: flex;
    gap: 55px;
}

.attractions-page__item {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    color: var(--white);
}

.attractions-page__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.46);
}

.attractions-page__item:hover {
    box-shadow: 0px 4px 12.1px 0px rgba(26, 73, 15, 0.67);
    cursor: pointer;
}

.attractions-page__item:hover::before {
    background: none;
}

.attractions-page__item a {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.attractions-page__items {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 20px;
}

.attractions-page__form {
    color: var(--black);
}

.attractions-page__form .input-group {
    padding: 30px 0px;
}

.attractions-page__form .input-group__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.attractions-page__filters {
    min-width: 290px;
}

.attractions-page__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.attractions-page__navigation ul {
    display: flex;
    gap: 10px;
}

.attractions-page__navigation ul li a {
    position: relative;
    display: block;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background: #EFEFEF;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    color: var(--black);
}

.attractions-page__navigation ul li a.active {
    background: var(--dark-green);
    color: var(--white);
}

.attractions-page__navigation ul li a:hover {
    background: #EAF8E7;
}

.attractions-page__navigation ul li a.active:hover {
    background: var(--theme-color);
}

.attractions-page__navigation ul li a span, .attractions-page__navigation ul li a svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.attractions-page__navigation ul li a svg {
    text-align: unset;
}

.btn-filters-modal {
    display: none;
}

.input-group__price-filters {
    margin-bottom: 15px;
}

.input-group__price-filters input {
    width: 130px;
    padding: 12px 14px;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: var(--black);
    border: 1px solid #E0E0E0;
    border-radius: 9px;
    background: var(--white);
}

.input-group__price-filters input:hover,
.input-group__price-filters input:active,
.input-group__price-filters input:focus,
.input-group__price-filters input:focus-visible {
    border: 1px solid var(--theme-color);
    cursor: pointer;
}

.ui-slider {
	font-size: 0.6em;
	width: calc(100% - 2.4em);
	margin-left: 1.2em;
}
.ui-slider-handle {
    background-color: #295047!important;
    background-blend-mode: multiply;
    width: 10px!important;
    height: 13px!important;
    margin-top: -2px;
    border-radius: 8px;
}
/*Slider-range darker*/
.ui-slider-range {
    background-color: #295047;
    background-blend-mode: multiply;
}

.ui-widget.ui-widget-content {
    background-color: #E9E9E9;
    border: none;
}

.ui-slider-horizontal {
    height: 5px;
}

#slider-range {
    margin-top: -20px;
    margin-left: 5px;
}

.attractions-page-not-found .section__title {
    margin-bottom: 30px;
}

.attractions-page__not-found {
    display: none;
}

.attractions-page-not-found__wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.attractions-page-not-found__text p {
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
}

.attractions-page-not-found__text p a {
    color: var(--theme-color);
    text-decoration: underline;
}

.attractions-detail__wrapper {
    display: flex;
    gap: 40px;
}

.attractions-detail__wrapper > div {
    position: relative;
    padding-left: 37px;
}

.attractions-detail__wrapper > div::before {
    content: "";
    position: absolute;
    left: 0;
    width: 7px;
    height: 100%;
    border-radius: 24px;
    background: rgba(50, 165, 23, 0.29);
}

.attractions-detail__wrapper p {
    font-size: calc((100vw - 375px) /(1920 - 375)*(20 - 14) + 14px);
    font-weight: 500;
    line-height: 150%;
    color: var(--black);
}

.attractions-detail__title {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: var(--theme-color);
}

.attractions-detail__title svg {
    color: var(--theme-color);
}

.attraction-routes__wrapper {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.attraction-routes__wrapper .section__title {
    margin-bottom: 0;
}

.attractions-detail__routes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(435px, 1fr));
    grid-gap: 30px;
}

.attraction-detail__route {
    padding: 30px;
    display: flex;
    gap: 40px;
    align-items: center;
    border-radius: 30px;
    background: rgb(234, 248, 231);
    font-size: calc((100vw - 375px) /(1920 - 375)*(18 - 16) + 16px);
    font-weight: 700;
    line-height: calc((100vw - 375px) /(1920 - 375)*(22 - 20) + 20px);
    color: var(--black);
}

.attractions-detail-route__img {
    width: 124px;
    min-width: 124px;
    height: 124px;
    border-radius: 23px;
    overflow: hidden;
}

.attractions-detail__on-map {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.attractions-detail__map {
    width: 62%;
}

.attractions-detail__on-map #accordionHowToGet {
    width: 38%;
}

.attractions-detail__on-map #accordionHowToGet .accordion-body {
    max-width: unset;
}

#attractions-detail-map {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.attractions-detail-map__title {
    padding: 20px 25px;
    border-radius: 28px;
    box-shadow: 0px 4px 12.1px 0px rgba(0, 0, 0, 0.25);
    background: var(--black);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
    font-size: calc((100vw - 375px) /(1920 - 375)*(30 - 14) + 14px);
    font-weight: 700;
    line-height: calc((100vw - 375px) /(1920 - 375)*(37 - 17) + 17px);
    color: var(--white);
    white-space: nowrap;
    z-index: 2600;
}

.attractions-detail__contacts {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.attractions-detail__contact {
    min-width: 545px;
    display: flex;
    gap: 150px;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 4px 18.7px 0px rgba(0, 0, 0, 0.11);
    background: var(--white);
}

.attractions-detail__contact a {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: var(--black);
}

.attractions-detail__contact > a svg {
    margin-right: 15px;
}

.attractions-detail-reviews {
    position: relative;
}

.attractions-detail-reviews::before {
    content: "";
    position: absolute;
    right: -5.5vw;
    top: 0;
    width: 801px;
    height: 100%;
    border-radius: 0px 200px 0px 0px;
    background: rgb(50, 165, 23);
    z-index: -1;
}

.attractions-detail-reviews__wrapper {
    gap: 50px;
}

.attractions-detail-reviews__wrapper .btn-green {
    margin-top: 30px;
}

.attractions-detail-reviews__left {
    max-width: 760px;
}

.attractions-detail-reviews__img {
    margin-bottom: 30px;
    max-width: 180px;
}

/* Внутрення главная */

.main-inner__slider {
    width: 100%;
    height: 71vh;
}

/* СТраница 404 и страница в разработке */

.additional__wrapper {
    margin-top: 5.5vw;
    padding-bottom: 10vw;
    gap: 13vw;
}

.additional__wrapper .main-inner__description {
    max-width: 765px;
    margin-bottom: 35px;
}

.additional__left {
    padding-top: 30px;
}

.additional__img {
    position: relative;
    width: 376px;
    height: 376px;
    border-radius: 50%;
    background: #EAF8E7;
}

.additional__img img {
    position: absolute;
    left: -50px;
    width: 488px;
    height: 376px;
    object-fit: none;
}

/* Внутренняя главная */

.header-inner__phones {
    display: inline-flex;
    gap: 50px;
}

.header-inner__phones a {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: var(--black);
}

.btn-header-chat {
    padding: 13px 30px;
}

.btn-header-chat svg {
    margin-right: 10px;
}

.main-inner__slider {
    margin-bottom: 40px;
}

.main-inner .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background: #D9D9D9;
    opacity: 1;
}

.main-inner .swiper-pagination-bullet-active {
    background: var(--dark-green);
}

.main-inner__walking {
    position: relative;
}

.main-inner__walking .btn-green {
    position: absolute;
    top: 0;
    right: 0;
}

.main-inner__links {
    margin-top: 140px;
    margin-bottom: 140px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 4.8vw);
}

.main-inner__link {
    border-radius: 30px;
    overflow: hidden;
}

.main-inner__link a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.main-inner__link a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0.00deg, rgba(0, 0, 0, 0.78),rgba(0, 0, 0, 0) 100%);
}

.main-inner__link a:hover::before {
    background: none;
}

.main-inner__link:hover {
    box-shadow: 0px 4px 12.1px 0px rgba(26, 73, 15, 0.67);
}

.main-inner-link__info {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 30px;
}

.main-inner-link__title {
    margin-bottom: 10px;
    font-size: calc((100vw - 375px) /(1920 - 375)*(22 - 18) + 18 px);
    font-weight: 700;
    line-height: calc((100vw - 375px) /(1920 - 375)*(27 - 22) + 22px);
}

.main-inner-link__desc {
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
}

.main-inner__link:nth-child(1) {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
}

.main-inner__link:nth-child(2) {
    grid-column: 4 / span 3;
    grid-row: 1 / span 4;
}

.main-inner__link:nth-child(3) {
    grid-column: 7 / span 3;
    grid-row: 1 / span 5;
}

.main-inner__link:nth-child(4) {
    grid-column: 10 / span 3;
    grid-row: 1 / span 9;
}

.main-inner__link:nth-child(5) {
    grid-column: 1 / span 3;
    grid-row: 4 / span 6;
}

.main-inner__link:nth-child(6) {
    grid-column: 4 / span 3;
    grid-row: 5 / span 5;
}

.main-inner__link:nth-child(7) {
    grid-column: 7 / span 3;
    grid-row: 6 / span 4;
}

/* Медиа запросы */

@media (max-width: 1299px) {
    .rooms__wrapper {
        flex-direction: column;
    }
    .rooms__left {
        margin-top: 0;
        order: 2;
        max-width: 100%;
    }
    .rooms__right {
        order: 1;
        margin-top: 0;
    }
    .rooms__desc p {
        margin-bottom: 20px;
    }
    .how-to-get__wrapper {
        flex-direction: column;
    }
    .how-to-get__left, .how-to-get__right {
        width: 100%;
    }
    #accordionHowToGet .accordion-body {
        max-width: 100%;
    }
    .attractions-detail__on-map {
        flex-direction: column;
        gap: 22px;
    }
    .attractions-detail__map, .attractions-detail__on-map #accordionHowToGet {
        width: 100%;
    }
    
}

@media (max-width: 1199px) {
    .news__items {
        display: flex!important;
        overflow-x: scroll;
    }
    .news__item, .news__items--fourth .news__item {
        min-width: 240px;
        height: 300px;
    }
}

@media (max-width: 1024px) {
    .attractions-page__wrapper {
        flex-direction: column;
    }
    .btn-filters-modal {
        display: block;
    }
    .attractions-page__form button {
        width: 96%;
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }
    .attractions-detail__wrapper {
        flex-wrap: wrap;
    }
    .attractions-detail-reviews__wrapper {
        flex-direction: column;
    }
    .attractions-detail-reviews__left {
        max-width: 100%;
    }
    .attractions-detail-reviews::before {
        width: 0;
        right: 0;
    }
    .attractions-detail-reviews__wrapper .btn-green {
        width: 100%;
    }
    .main-inner__links {
        grid-gap: 10px;
        grid-template-rows: repeat(12, 10.5vw);
    }
    .main-inner__link:nth-child(1) {
        grid-column: 1 / span 6;
        grid-row: 1 / span 3;
    }
    
    .main-inner__link:nth-child(2) {
        grid-column: 7 / span 6;
        grid-row: 1 / span 3;
    }
    
    .main-inner__link:nth-child(3) {
        grid-column: 1 / span 6;
        grid-row: 4 / span 3;
    }
    
    .main-inner__link:nth-child(4) {
        grid-column: 7 / span 6;
        grid-row: 4 / span 3;
    }
    
    .main-inner__link:nth-child(5) {
        grid-column: 1 / span 6;
        grid-row: 7 / span 3;
    }
    
    .main-inner__link:nth-child(6) {
        grid-column: 7 / span 6;
        grid-row: 7 / span 3;
    }
    
    .main-inner__link:nth-child(7) {
        grid-column: 1 / span 12;
        grid-row: 10 / span 3;
    }
}

@media (max-width: 992px) {
    header {
        position: static;
        height: 100%;
    }
    .main-inner__main-title {
        margin-bottom: 30px;
    }
    .header__burger {
        display: block;
        color: #777777;
    }
    .btn-header-phone {
        position: relative;
        padding: 0;
        border-radius: 50%;
        width: 55px;
        height: 55px;
    }
    .btn-header-phone svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        display: block;
    }
    .sidebar, .header__nav, .btn-header-phone span {
        display: none;
    }
    .main-inner__images {
        display: flex;
        border-radius: unset;
        overflow: scroll;
    }
    .main-inner__image {
        min-width: 270px;
        height: 200px;
    }
    .bonuses__images {
        display: flex;
        overflow: scroll;
    }
    .bonuses__image {
        min-width: 220px;
        height: 340px;
    }
    .main-inner__wrapper {
        gap: unset;
    }
    .main-inner__left {
        width: 100%;
    }
    .main-inner__right {
        display: none;
    }
    .booking-modal {
        display: block;
    }
    .fixed-buttons__wrapper {
        padding: 10px;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        box-shadow: 0px 4px 24.1px 0px rgba(0, 0, 0, 0.25);
        background: rgb(255, 255, 255);
    }
    .fixed-buttons {
        width: 55px;
        height: 55px;
    }
    .additional__wrapper {
        flex-direction: column;
        gap: 30px;
    }
    .additional__right {
        order: 1;
    }
    .additional__left {
        padding-top: 0;
        order: 2;
    }
    .additional__img {
        width: 130px;
        height: 130px;
        margin: 0 auto;
    }
    .additional__img img {
        left: -20px;
        object-fit: contain;
        width: 170px;
        height: 130px;
    }
    .main-inner__description {
        max-width: 100%;
    }
    .additional__left a {
        width: 100%;
    }
    .additional__left .main-inner__main-title {
        text-align: center;
    }
    #map-resort-tabs {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    #map-resort-tabs li {
        white-space: nowrap;
    }
    .reviews {
        padding-bottom: 0;
    }
    .reviews::before {
        width: 100%;
        height: 83%;
        border-radius: 0px 30px 0px 0px;
    }
    .reviews__wrapper {
        flex-direction: column;
    }
    .reviews__iframe {
        padding: 15px!important;
        margin: 0 auto;
        width: 320px!important;
        height: 555px!important;
    }
    .reviews__images {
        display: flex!important;
        overflow-x: scroll;
        border-radius: unset;
    }
    .review__image {
        min-width: 270px;
        height: 200px;
    }
    .rooms__images {
        display: flex;
        border-radius: unset;
        overflow-x: scroll;
    }
    .rooms__image {
        min-width: 270px;
        height: 200px;
    }
    .hotel-infrastructure {
        border-radius: 0px 0px 30px 0px;
    }
    .stocks {
        border-radius: 30px 0px 0px 0px;
    }
    .hotel-infrastructure .nav-pills {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .hotel-infrastructure .nav-pills li {
        white-space: nowrap;
    }
}

@media (max-width: 768px) {
    .main__title-wrapper {
        max-width: 100%;
        text-align: center;
    }
    .section__title {
        margin-bottom: 30px;
    }
    .section-inner {
        padding-top: 40px;
    }
    .main-inner section {
        margin-bottom: 40px;
    }
    .stocks {
        padding: 40px 0px;
        border-radius: 30px 0px 0px 0px;
    }
    .swiper-button-next, .swiper-button-prev, .main-inner__slider .swiper-button-prev {
        display: none;
    }

    .attractions-page__navigation {
        flex-direction: column;
    }

    .attractions-page__navigation .btn-navigation {
        width: 100%;
    }

    .attraction-routes__wrapper {
        flex-direction: column;
        gap: 30px;
        align-items: unset;
    }
    .attractions-detail__contact {
        min-width: 100%;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
}

@media (max-width: 576px) {
    .rooms__tags {
        width: 100%;
        justify-content: space-between;
        gap: unset;
    }
    .room-review {
        padding: 15px!important;
        width: 320px!important;
        height: 550px!important;
    }
    .additional-services__wrapper {
        display: flex;
        flex-wrap: nowrap;
        overflow: scroll;
    }
    .additional-services a {
        padding: 20px;
        min-width: 290px;
    }
    .attractions-detail__routes {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
    .attraction-detail__route {
        padding: 20px;
        gap: 20px;
    }
    .main-inner-link__title {
        margin-bottom: 0;
    }
    .main-inner-link__desc {
        display: none;
    }
}

@media (max-width: 499px) {
    .rooms__specifications {
        grid-template-columns: 1fr;
    }
}